<template>
    <div class="app-component">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Completed</th>
                    <th>Action</th>
                </tr>
            </thead>
                <tbody>
                    <task-component v-for="task in tasks" :key="task.id" :task="task" @task_delete="remove" @checkbox_change="checkboxToggle"> </task-component>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input v-model="task.title" class="form-control" type="text" id="task" /> </td>
                        <td>&nbsp;</td>
                        <td><button @click="store" class="btn btn-primary btn-sm">Add</button></td>
                    </tr>
                </tbody>
        </table>
    </div>

</template>

<script>
    import TaskComponent from './Task.vue';
    export default {
        data() {
            return {
                tasks: [],
                task: { title: '', completed:''},
            }
        },


        methods: {
            getMyTasks() {
                window.axios.get('/api/task').then(({ data }) => {
                    data.forEach(task => {
                        this.tasks.push(task)
                    });
                });

            },
            store() {
                if (this.inputvaildate()) {
                    window.axios.post('/api/task', this.task).then(savedTask => {
                        this.tasks.push(savedTask.data);
                        this.task.title = '';
                    });
                }
               
            },
            inputvaildate() {
                if (this.task.title) {
                    return true;
                }
                else {
                    alert("Task Title can't be Empty!");
                }
            },
            remove(id) {
               
                window.axios.delete(`/api/task/`+id).then(() => {
                    let index = this.tasks.findIndex(task => task.id == id);
                    this.tasks.splice(index, 1);
                });
                
            },

            checkboxToggle(toggletask) {
               
                let togID = toggletask.id;
                window.axios.put(`/api/task/`+togID,task).then(togData => {
                      
                });
            }
        },
        

        created() {
            this.getMyTasks();
        },
        components: {TaskComponent}
    } 

</script>

<style>



</style>
