<template>
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td><center><input v-model="task.completed" type="checkbox" class="form-check-input" :checked="getChecked" @change="checkboxToggle"/></center></td>
        <td><button @click="remove" class="btn btn-danger btn-sm">Delete</button></td>
    </tr>
</template>
<script>

    export default {
        data() {
            return {

            }
        },
        computed: {
            getChecked() {
                if (this.task.completed) {
                    return true;
                }
                else {
                    return false;
                }
               
            }
        },
        methods: {
            remove() {
                this.$emit('task_delete',this.task.id )
            },
        
            checkboxToggle() {
                this.$emit('checkbox_change', this.task)
            },
        },
        props: ['task']

    }

</script>
<style>

</style>
